{% extends "news/base.html" %}

{% load static %}

{% block title %}Parolni tiklash{% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolni tiklash uchun email addressingizni kiriting:</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marta kiriting</p>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz.</p>
    {% endif %}

{% endblock content %} 

