{% extends "news/base.html" %}

{% load static %}
{% load hitcount_tags %}
{% block title %} {{ news.title }} {% endblock title %}


{% block content %}
    <h1> {{ news.title }} </h1>
    <h5> {{ news.published_time }} | <i class="fa fa-eye" aria-hidden="true"></i>: {% get_hit_count for news %} | Izohlar soni: {{ comment_count }}</h5>

    <img src="{{ news.image.url }}" class="" alt="">
    <p>{{ news.body }}</p>


    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="card-footer text-center">
        <h3><a href="{% url "news_update" news.slug %}" style='color: red'>Tahrirlash</a></h3>
        <h3><a href="{% url "news_delete" news.slug %}" style='color: blue'>O'chirish</a></h3>
    </div> <br>
    {% endif %} 

    {% for comment in comments %}
        <div class="comments" style='padding: 10px'>
            <p class='font-weight-bold'>
                {{ comment.user }} |
                <span class='text-muted font-weight-normal'>
                    {{ comment.created_time }}
                </span>
            </p>
            {{ comment.body | linebreaks }}
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <div class="col-md-8 card mb-4 mt-3">
            <div class="card-body">
                <h3>Izoh qoldirish</h3>
                <form method='POST' style='margin: 1.3em'>{% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg">
                        Yuborish
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <p class='text-danger'>Faqatgina ro'yhatdan o'tgan foydalanuvchilargina ro'yhatdan o'tishlari mumkin</p>
        <p>Izoh qoldirish uchun: <a href='{% url "user_register" %}' style='color: blue'>Ro'yhatdan o'tish</a> | <a href='{% url "login" %}' style='color: green'>Login</a> </p>
    {% endif %}
    
{% endblock content %}